<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animals</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h2>Wellcome to the Animal Kingdom</h2>
    </div>  
    <table>
     <tr>
      <td>Animals</td>
      <td>Created by</td>
    </tr>
    <% for( var x in animal){ %>
    <tr>
        <td><a href="/mongooses/<%=animal[x]._id%>"><%= animal[x].animal %></a></td>
        <td><%= animal[x].name %></td>
    </tr>
      <%}%>
    </table>
    
    <a href="/mongooses/new">Add Animal</a>
  </div>
</body>
</html>